body {
    height: 100vh;
    background-image: url('https://media.istockphoto.com/photos/empty-highway-asphalt-road-and-beautiful-sky-sunset-landscape-picture-id893287874?k=6&m=893287874&s=612x612&w=0&h=qkEFonWR_s_3Sw_BgNZ1eY10H_6cOUXfocSJ6-1M2FI=');
    background-size: cover;
}