body {
    height: 100vh;
    background-image: url('https://cdn4.vectorstock.com/i/1000x1000/53/98/woman-sports-exercise-healthy-urban-background-vector-14375398.jpg');
    background-size: cover;
}
